.logincss {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 10px
}

.headercss {
    color:rgb(13, 13, 170);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px
}

.profilepic {
    height:100px;
    width: auto;
    float: left;
    padding: 10px
}

.welcome {
    position: relative
}

.welcomecard::after {
    content: "";
    clear: both;
    display: table;
    margin: 0em;
    padding: 10px;
}

.welcomebox {
    float: left;
    padding: 10px
}

.navbar {
    justify-content: center;
    background-color: rgb(6, 6, 185);
  }

.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 250px;
    padding: 5px;
    margin: 6px 6px 6px;
    background: rgb(3, 16, 94);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 20px) ;
    color: white;
}

.nav-link-2 {
    display: inline-block;
    box-sizing: border-box;
    width: 260px;
    padding: 5px;
    margin: 6px 6px 6px;
    background: rgb(87, 102, 192);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 20px) ;
    color: rgb(58, 58, 58);
}


.list {
    height: 150px;
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.card::after {
    content: "";
    clear: both;
    display: table;
    margin: 0em;
    padding: 10px;
    
}

.box {
    float: left;
    padding: 10px;
}

.box:nth-child(1) {
    float: left
  }

.box:nth-child(2) {
    float: left
}

.box:nth-child(3) {
    float: left
}

p {
    margin-top: 0em;
    margin-bottom:0em;
}

h3 {
    margin-top: 0em;
    margin-bottom:0em;
}

.image {
    height: 150px;
    width: 300px;
}

.profile {
    height: 450px;
    width: 300px;
}

